*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    margin: 0;
    display: flex;
    place-items: center;
    align-items: center;
    justify-content: center;
    min-width: 320px;
    min-height: 100vh;
    background-color: #090D22;
}